
<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size-md="6" size-sm="9" size-lg="6" size-xs="11" size-xl="6">
      <div>
        <ion-card>

            <ion-item lines="none" class="p-pic">
              <ion-thumbnail slot="start">
                <ion-img src="assets/img/tripurari.jpg"></ion-img>
              </ion-thumbnail>
              <ion-label>Tripurari Singh</ion-label>
            </ion-item>

          <ion-card-content class="p-des">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Deleniti quas nemo adipisci. Minus a nostrum nulla laborum commodi iste eum!
          </ion-card-content>

          <div>
            <ion-img src="assets/img/Tripurari1.jpg"></ion-img>
          </div>

          <ion-tabs>

            <ion-tab-bar slot="bottom">
              <ion-tab-button tab="home">
                <ion-icon name="heart"></ion-icon>
              </ion-tab-button>
          
              <ion-tab-button tab="tab2">
                <ion-icon name="heart-dislike"></ion-icon>
              </ion-tab-button>

              <ion-tab-button tab="comments">
                <ion-icon name="chatbox-ellipses-outline"></ion-icon>
              </ion-tab-button>
          
              <ion-tab-button (click)="share()">
                <ion-icon name="share-social"></ion-icon>
              </ion-tab-button>
            </ion-tab-bar>
          
          </ion-tabs>

        </ion-card>

      </div>
    </ion-col>
  </ion-row>
</ion-grid>  