<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size-md="6" size-sm="9" size-lg="6" size-xs="11" size-xl="6">
      <div>
        <ion-card>
          <!-- Header -->
            <div class="c-title">Compose Post</div>

            <!-- Content Area -->
            <ion-item lines="none">
              <ion-avatar slot="start" [ngClass]="{'avatar': imgURL}">
                <ion-img src="assets/img/tripurari.jpg"></ion-img>
              </ion-avatar>

              <ion-textarea placeholder="Enter more information here..."></ion-textarea>

              <img [src]="imgURL" height="100" *ngIf="imgURL">

            </ion-item>


            <!-- Footer -->
            <div [ngStyle]="{'border-top': '1px solid #dddfe2', 'border-radius': '2px 2px 0 0'}">

              <ion-chip>
                <ion-icon name="image" color="primary"></ion-icon>
                <ion-label>Choose</ion-label>
                <span style="color:red;" *ngIf="message">{{message}}</span>
                <input type="file" accept='image/*' name="" id="" class="hide_file" (change)="preview($event)">
              </ion-chip>

                <ion-button class="ion-float-right" size="small" shape="round" type="submit" slot="end" disabled>Post</ion-button>

            </div>

        </ion-card>
      </div>
    </ion-col>
  </ion-row>
  </ion-grid>          