.c-title {
    background-color: #f5f6f7;
    height: auto;
    font-size: 1em;
    padding: 0.3em 0 0.25em 0.9em;
    border-bottom: 1px solid #dddfe2;
    border-radius: 2px 2px 0 0;
    font-weight: bold;
}

.hide_file {
    position: absolute;
    opacity: 0;
}

.avatar {
    margin-top: -2em;
}
