<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="warning">
    <ion-title>
        Sign Up
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #myform="ngForm" (ngSubmit)="register(myform)" [formGroup]="registerForm">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="5" size-sm="9" size-lg="5" size-xs="11" size-xl="5">
          
          <ion-card>
            
              <div class="logo">
                <ion-img src="assets/img/mzplive_logo.png"></ion-img>
              </div>

                <p class="ion-text-center" [ngStyle]="{'font-size': '1.5em', 'margin': '0.5em 0'}">SignUp on Mzp Live !</p>

                <div class="ion-padding-horizontal">

                      <ion-item class="ion-margin-top">
                        <ion-input type="text" placeholder="Name" formControlName="name"></ion-input>
                      </ion-item>
                      <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)">
                        <span class="error ion-padding-top" *ngIf="f.name.errors?.required">First Name is required</span>
                      </div>

                      <ion-item class="ion-margin-top">
                        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
                      </ion-item>
                      <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">  
                        <span class="error ion-padding-top" *ngIf="f.email.errors?.required">Email is required</span>
                        <span class="error ion-padding-top" *ngIf="f.email.errors?.email">Email must be a valid email address</span>
                      </div>

                      <ion-item class="ion-margin-top">
                        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
                      </ion-item>
                      <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
                        <span class="error ion-padding-top" *ngIf="f.password.errors?.required">Password is required</span>
                        <span class="error ion-padding-top" *ngIf="f.password.errors?.minlength">Password must be at least 8 characters</span>
                      </div>

                      <ion-item class="ion-margin-top">
                        <ion-input type="password" placeholder="Confirm Password" formControlName="confirmPassword"></ion-input>
                      </ion-item>
                      <div *ngIf="f.confirmPassword.invalid && (f.confirmPassword.dirty || f.confirmPassword.touched)">
                        <span class="error ion-padding-top" *ngIf="f.confirmPassword.errors?.required">Confirm Password is required</span>
                        <span class="error ion-padding-top" *ngIf="f.confirmPassword.errors?.mustMatch">Passwords must match</span>
                      </div>

                </div>

                <div class="ion-padding-horizontal">
                  <ion-button type="submit" [disabled]="!registerForm.valid" class="ion-margin-top" expand="full">Sign Up</ion-button>
                </div>

                <div class="ion-text-center">
                  <p [ngStyle]="{'font-size': '1em'}">Already have an account? <a routerLink="/auth/login">Login</a></p>
                </div>
              
            </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
