ion-grid {
    --ion-grid-padding: 1.7em !important;
}

ion-card {
    --background: rgba(2, 2, 2, 0.1);
}

.logo {
    width: 6em;
    margin: 0 auto;
    padding-top: 1em;
}

.error {
    color: red;
}