/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.share {

  .alert-button-group-vertical.sc-ion-alert-md {
    flex-direction: unset;
  }
  
    button.alert-button.w.sc-ion-alert-md::before{
      color: rgb(2, 251, 65) !important;
      font-family: FontAwesome;
      content: "\f232";
      font-size: 45px;
    }

    button.alert-button.f.sc-ion-alert-md::before{
      color: rgb(28, 58, 195) !important;
      font-family: FontAwesome;
      content: "\f082";
      font-size: 40px;
    }


    button.alert-button.t.sc-ion-alert-md::before{
      color: rgb(5, 214, 251) !important;
      font-family: FontAwesome;
      content: "\f099";
      font-size: 45px;
    }

 }


 ion-grid {
  --ion-grid-padding: 0 !important;
}

ion-item.p-pic{   // Profile Pic
  --padding-top: 0 !important;
}

ion-card-content.p-des {    // post description
  padding-top: 0 !important;
}